<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wusongyuan.mine"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="${SHARED_USER_ID}"
    >

    <application
        android:allowBackup="true"
        android:label="@string/mine_app_name"
        android:supportsRtl="true"
        android:name="com.wusongyuan.mine.debug.MineApp"
        android:theme="@style/AppTheme">
        <activity android:name="com.wusongyuan.mine.debug.MineMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>