<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wusongyuan.mall"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.wusongyuan.base.app.BaseApp"
        android:allowBackup="true"
        android:label="@string/mall_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wusongyuan.mall.debug.MallMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wusongyuan.mall.debug.MallTabActivity">
        </activity>
    </application>

</manifest>