<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wusongyuan.forum"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:name=".debug.ForumApp"
        android:allowBackup="true"
        android:label="@string/forum_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wusongyuan.forum.debug.ForumMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wusongyuan.forum.debug.ForumTabActivity">
        </activity>
    </application>

</manifest>